# -------------------------------
# Python cache / bytecode
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual environment
# -------------------------------
venv/
.env/

# -------------------------------
# Generated application data
# -------------------------------
data/
*.xlsx
*.pdf
*.jpg
*.png

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# IDE / Editor files
# -------------------------------
.vscode/
.idea/

# -------------------------------
# Logs
# -------------------------------
*.log
